@page "{id}"
@model InversionGloblalWeb.Pages.Compras.EditarModel
@{
    ViewData["Title"] = "Compras";
}
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}
@using System.Globalization;
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@section breadcrumb{
    <li class="breadcrumb-item">
        <a asp-page="./Index">Facturas</a>
    </li>

    <li class="breadcrumb-item active">
        <strong>Inclusión </strong>
    </li>
}
@section TitleAction{
    <a asp-page="./Index" class="nav-link text-dark"><i class="fa fa-arrow-circle-o-left "></i>  Regresar</a>
}
@section styles{
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/square/green.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <style>
        /*     .tableFixHead th {
                position: sticky;
                top: 0;
                background: white;
            }*/
        td {
            border-bottom-style: solid !important;
            border-bottom-width: 1px !important;
            border-bottom-color: #dec2e6 !important;
        }

        h3 {
            font-size: 13px !important;
        }

        th {
            background-color: transparent !important;
        }

        td p {
            font-weight: 300 !important;
        }

        .lab {
            font-weight: 400;
            font-size: 13px;
        }

        .lab2 {
            font-weight: 400;
            font-size: 13px;
        }

        .label {
            color: #fff !important;
            background-color: #57b846 !important;
            cursor: pointer;
            text-decoration: underline;
            background: none;
            font-size: 17px;
            padding: 8px 18px !important;
        }

        /*label
        {
            font-size: 15px;
        }*/

        #imgGalerias {
            display: none;
        }
    </style>
}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $(":input").inputmask();
                    $('.mi-selector').select2();
                    check(1);
                    $("input:radio[name=idProveedor]:checked").val("01");
                    mask2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });



        });
    function  Asignar(ids) {


         $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Editar", "Asignar")',
             data: { id: ids, idNorma: $("#normaid").val() },
             success: function (result) {

                             if (result == false) {

                                // $("#Eliminar").hide();
                                // $("#Error").show();
                                 Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar actualizar'

                                 })
                             } else {
                                 Swal.fire({
                                     title: "Ha sido actualizado con éxito",

                                     icon: 'success',
                                     showCancelButton: false,
                                     customClass: {
                                         confirmButton: 'swalBtnColor',

                                     },
                                     confirmButtonText: 'OK'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         window.location.href = window.location.href.split("/Editar")[0];
                                     }
                                 })
                             }
             },
             beforeSend: function () {

             },
             complete: function () {

             }
                     })
        }
    </script>
}
<div class="ibox">

    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6">






                <label class="col-form-label">Cédula Proveedor:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" id="CodProveedor" asp-for="Objeto.CodProveedor" readonly class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Nombre Proveedor:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" asp-for="Objeto.NomProveedor" readonly id="NomProveedor" class="form-control">
                    </div>
                </div>





                <label class="col-form-label">Moneda:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input asp-for="Objeto.CodMoneda" readonly class="form-control" />
                    </div>
                </div>

                <label class="col-form-label">Usuario Asignado:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input asp-for="Objeto.UsuarioAsignado" readonly class="form-control" />
                    </div>
                </div>


            </div>

            <div class="col-sm-6">


                <label class="col-form-label">Consecutivo Hacienda:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input asp-for="Objeto.ConsecutivoHacienda" readonly class="form-control" />
                    </div>
                </div>

                <label class="col-form-label">Número Factura:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" asp-for="Objeto.NumFactura" readonly id="NumFactura" class="form-control">
                    </div>
                </div>



                <label class="col-form-label">Fecha Factura:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="date" asp-for="Objeto.FecFactura" id="FecFactura" readonly class="form-control">
                    </div>
                </div>


                <label class="col-form-label">Norma de Reparto:</label>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select id="normaid" asp-for="Objeto.idNormaReparto" class="form-control  mi-selector">
                            <option value="0">-Norma Reparto-</option>
                            @foreach (var item in Model.Normas)
                            {
                                <option value="@item.id">@item.Nombre</option>
                            }




                        </select>
                    </div>
                </div>

            </div>

                </div>
            </div>

</div>


<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">

                <div class="table-responsive tableFixHead" style=" overflow-y:scroll;    z-index: 5; height: 300px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th align="center" style=" text-align: center;"><h3>Cantidad</h3></th>

                                <th align="center" style=" text-align: center;"><h3>Nombre</h3></th>
                                <th align="center" style=" text-align: center;"><h3>SubTotal</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Descuento</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Impuesto</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Total</h3></th>


                            </tr>

                        </thead>
                        <tbody id="tbody">
                            @foreach (var item in Model.Objeto.DetCompras)
                            {
                            <tr>
                                <td align="center"><a style="font-size:15px;  "> @item.Cantidad</a></td>
                                <td align="center"><a style="font-size:15px;  "> @item.NomPro</a></td>
                                <td align="right"><a style="font-size:15px;  "> @decimal.Round(item.SubTotal.Value, 2).ToString("N", formato)</a></td>
                                <td align="right"><a style="font-size:15px;  "> @decimal.Round(item.MontoDescuento.Value, 2).ToString("N", formato)</a></td>
                                <td align="right"><a style="font-size:15px;  "> @decimal.Round(item.ImpuestoMonto.Value, 2).ToString("N", formato)</a></td>
                                <td align="right"><a style="font-size:15px;  "> @decimal.Round(item.MontoTotalLinea.Value, 2).ToString("N", formato)</a></td>
                            </tr>
                        }
                            </tbody>
                        </table>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4" style="text-align: right;">
                        <div class="row">

                            <div class="col-sm-12">

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table; font-weight: 500 !important; font-style: normal;">SubTotal:</label>

                                            </td>
                                            <td>
                                                <label id="subtotal" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.TotalVenta.Value, 2).ToString("N", formato)</label>
                                            </td>

                                        </tr>
                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Descuento:</label>

                                            </td>
                                            <td>
                                                <label id="descuento" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.TotalDescuentos.Value, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Impuesto:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.TotalImpuesto.Value, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 1:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto1" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.Impuesto1, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 2:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto2" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.Impuesto2, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 4:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto4" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.Impuesto4, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 8:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto8" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.Impuesto8, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 13:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto13" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.Impuesto13, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Total:</label>

                                            </td>
                                            <td>
                                                <label id="total" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(Model.Objeto.TotalComprobante.Value, 2).ToString("N", formato)</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button onclick="javascript: Asignar('@Model.Objeto.id');" class="btn btn-w-m btn-primary" title="Guardar">Guardar Cambios</button>

</div>