@page
@model InversionGloblalWeb.Pages.Liquidaciones.IndexModel
@{
    ViewData["Title"] = "Liquidaciones";
}

@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}
@using System.Globalization;
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section breadcrumb{
    <li class="breadcrumb-item">
        <a>Liquidaciones</a>
    </li>

    <li class="breadcrumb-item active">
        <strong>Resumen </strong>
    </li>
}

@section TitleAction{
    @if (!string.IsNullOrEmpty(Roles.Where(a => a == "9").FirstOrDefault()))
    {
        <a asp-page="/Compras/Nuevo" class="btn btn-primary" title="Agregar Factura"><i class="fa fa-plus"></i> Incluir Factura</a>
    }
    &nbsp;
    <a asp-page="Nuevo" class="btn btn-primary" title="Agregar"><i class="fa fa-plus"></i> Liquidar</a>

}
@section styles{
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/square/green.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <style>
        .tableFixHead th {
            position: sticky;
            top: 0;
            background: white;
        }
        .ibox .label {
            font-size: 12px !important;
        }
    </style>

}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $('.mi-selector').select2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });

            $('.dataTables-example').DataTable({
                pageLength: 10,
                responsive: true,
                order: [[0, "desc"]]

            });



        });

         function CambiarEstado(idCierre) {
            Swal.fire({
                title: '¿Desea poner abierta esta liquidación?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'GET',

                        url: '@Url.Page("Index", "Estado")',
                        dataType: 'text',
                        data: { idB: idCierre },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (json) {

                            $("#divProcesando").hide();

                            if ($('.modal-backdrop').is(':visible')) {

                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').hide();
                            }
                            console.log("resultado " + json);
                            if (json == "true") {
                                Swal.fire({
                                    title: "Ha sido enviado con éxito",

                                    icon: 'success',
                                    showCancelButton: false,

                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'swalBtnColor',

                                    },
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = window.location.href.split("/Editar")[0];
                                    }
                                })

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Ha ocurrido un error al intentar enviar'

                                })
                            }
                        },

                        beforeSend: function (xhr) {

                            $("#divProcesando").modal("show");
                        },
                        complete: function () {

                        },
                        error: function (error) {

                        }
                    });
                }
            })

        }

        //Enviar a SAP

        function EnviarAsiento(idCierre) {
            Swal.fire({
                title: '¿Desea crear asiento en SAP de esta liquidación?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'GET',

                        url: '@Url.Page("Index", "Asiento")',
                        dataType: 'json',
                        data: { idB: idCierre },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (json) {

                            $("#divProcesando").hide();

                            if ($('.modal-backdrop').is(':visible')) {

                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').hide();
                            }
                            console.log("resultado " + json);
                            if (json.status == 1) {
                                Swal.fire({
                                    title: "Ha sido enviado con éxito",

                                    icon: 'success',
                                    showCancelButton: false,

                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'swalBtnColor',

                                    },
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload();
                                    }
                                })

                            } else {
                                if (typeof (json) == "string") {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: json

                                    })
                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: json.message

                                    })
                                }
                            }
                        },

                        beforeSend: function (xhr) {

                            $("#divProcesando").modal("show");
                        },
                        complete: function () {

                        },
                        error: function (error) {

                        }
                    });
                }
            })

        }


    </script>

}


<div class="ibox ">


    <div class="ibox-content lista">
        <br />
        <form method="get">
            <div class="row">


                <div class="col-md-3">
                    <div class="m-b-lg">
                        <div class="form-row">
                            <div class="input-group input-group-sm  col-md-12">
                                <input asp-for="filtro.Texto" class="form-control" placeholder="Buscar liquidacion">
                            </div>
                        </div>



                    </div>


                </div>
                <div class="col-md-4">

                    <div class="form-group row">

                        <div class="col-sm-10">
                            <select asp-for="filtro.Estado" id="idEstado" class="form-control  mi-selector">
                                <option value="NULL" selected>-Estado-</option>


                                <option value="P">Abiertas</option>
                                <option value="A">Aprobadas</option>
                                <option value="R">Rechazadas</option>
                                <option value="E">Espera</option>

                            </select>
                        </div>


                    </div>
                </div>
                    @if (!string.IsNullOrEmpty(Roles.Where(a => a == "8").FirstOrDefault()))
                    {
            <div class="col-md-4">
                <div class="form-group row">

                    <div class="col-sm-10">

                        <select asp-for="filtro.Codigo1" id="idUsuario" class="form-control  mi-selector">
                            <option value="0" selected>-Usuario-</option>

                            @foreach (var item in Model.Usuarios)
                            {
                                <option value="@item.id">@item.id - @item.Nombre</option>
                            }


                        </select>
                    </div>
                    </div>
                </div>
                    }
                    <div class="col-md-1">
                        <button title="Buscar" type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i></button>
                    </div>


                    <div class="col-sm-6">



                        <p style="font-size:14px;">Se encontraron @Model.Objeto.Length registros de liquidaciones.</p>



                    </div>
                </div>
</form>
        <div class="table-responsive" style="padding:inherit;">
            <table class="table table-striped dataTables-example" style="width: 100%;">
                <thead>
                    <tr>

                        <td align="center" style="width: 10%;"><h3>No. Liquidación</h3></td>
                        <td align="center" style="width: 12%;"><h3>Periodo</h3></td>
                        <td align="center" style="width: 10%;"><h3>Fecha Asignación</h3></td>
                        <td align="center" style="width: 20%;"><h3>Usuario</h3></td>
                        <td align="center" style="width: 12%;"><h3>Moneda</h3></td>
                        <td align="center" style="width: 12%;"><h3>Total</h3></td>
                        <td align="center" style="width: 12%;"><h3>Estado</h3></td>
                        <td align="center" style="width: 12%;"><h3>Acción</h3></td>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model.Objeto)
                    {
                        <tr>

                            <td align="center" style="padding-top:15px;">
                                <a style="font-size:15px;  " asp-page="./Observar" asp-route-id="@item.idCierre">
                                    @item.idCierre
                                </a>
                            </td>
                            <td align="center" style="padding-top:15px;"><a style="font-size:15px;  "> @item.Periodo</a></td>
                            <td align="center" style="padding-top:15px;"><a style="font-size:15px;  "> @item.FechaCierre.ToString("dd/MM/yyyy")</a></td>
                            <td align="center" style="padding-top:15px;"><a style="font-size:15px;  "> @item.NombreUsuario</a></td>
                            <td align="center" style="padding-top:15px;"><a style="font-size:15px;  "> @item.CodMoneda</a></td>
                            <td align="center" style="padding-top:15px;"><a style="font-size:15px;  "> @decimal.Round(item.Total, 2).ToString("N", formato)</a></td>
                            <td align="center" style="padding-top:15px;">
                                @switch (item.Estado)
                                {
                                    case "P":
                                        {
                                            <p><span class="label label-info">Abierta</span></p>
                                          
                                            break;
                                        }

                                    case "A":
                                        {
                                             <p><span class="label label-success">Aprobada</span></p>
                                            break;
                                        }
                                    case "R":
                                        {
                                            <p><span class="label label-danger">Rechazada</span></p>
                                            break;
                                        }
                                    case "E":
                                        {
                                             <p><span class="label label-warning">Espera</span></p>
                                            break;
                                        }
                                    default:
                                        {
                                          <p><span class="label label-info">Abierta</span></p>
                                            break;
                                        }

                                }


                            </td>
                            <td align="center" style="padding-top:15px;">
                                @if (item.Estado == "P" || item.Estado == "R")
                                {
                                @if (item.idLogin == int.Parse(((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Actor).Select(s1 => s1.Value).FirstOrDefault()))
                                    {
                                <a asp-page="./Editar" asp-route-id="@item.idCierre" title="Editar" class="fa fa-edit icono"> </a>
                                    }


                                }
                                &nbsp;
                                @if (item.Estado == "E")
                                {

                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "8").FirstOrDefault()))
                                    {

                                <a asp-page="./Observar" asp-route-id="@item.idCierre" title="Aceptar/Rechazar" class="fa fa-exchange icono"></a>
                                    }

                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "10").FirstOrDefault()))
                                    {
                                <a onclick="javascript: CambiarEstado('@item.idCierre');" title="Cambiar estaddo a abierta" class="fa fa-clock-o icono" style="padding-left: 10px;"></a>
                                    }
                                }
                                &nbsp;
                                @if (item.Estado == "A")
                                {

                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "21").FirstOrDefault()))
                                    {
                                         @if(!item.ProcesadaSAP)

                                           {

                                    <a title="Crear asiento en SAP" class="icono" onclick="javascript: EnviarAsiento('@item.idCierre')"><img src="~/img/sap.png" class="imgSAP" style="" /></a>
                                            }
                                }


                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
        <a asp-page="Nuevo" style="color: #57b846;" title="Agregar"><i class="fa fa-plus"></i> Liquidar</a>
    </div>
</div>
