@page "{id}"
@model InversionGloblalWeb.Pages.Liquidaciones.ObservarModel
@{
    ViewData["Title"] = "Liquidación";
}
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}
@using System.Globalization;
@section breadcrumb{
    <li class="breadcrumb-item">
        <a asp-page="./Index">Liquidaciones</a>
    </li>

    <li class="breadcrumb-item active">
        <strong>Observar </strong>
    </li>
}
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@section TitleAction{
    <a asp-page="./Index" class="nav-link text-dark"><i class="fa fa-arrow-circle-o-left "></i>  Regresar</a>
}
@section styles{
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/square/green.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <style>
        .tableFixHead th {
            position: sticky;
            top: 0;
            background: white;
        }
    </style>

}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script>
         function Aceptar() {
            Swal.fire({
                title: '¿Desea aceptar esta liquidación?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'GET',

                        url: '@Url.Page("Observar", "Aceptar")',
                        dataType: 'text',
                        data: { idB: $("#idCierre").text(), comentario: $("#Comentario").val() },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (json) {

                            $("#divProcesando").hide();

                            if ($('.modal-backdrop').is(':visible')) {

                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').hide();
                            }
                            console.log("resultado " + json);
                            if (json == "true") {
                                Swal.fire({
                                    title: "Ha sido aceptado con éxito",

                                    icon: 'success',
                                    showCancelButton: false,

                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'swalBtnColor',

                                    },
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = window.location.href.split("/Observar")[0];
                                    }
                                })

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Ha ocurrido un error al intentar aceptar'

                                })
                            }
                        },

                        beforeSend: function (xhr) {

                            $("#divProcesando").modal("show");
                        },
                        complete: function () {

                        },
                        error: function (error) {

                        }
                    });
                }
            })

        }

        function Rechazar() {
            Swal.fire({
                title: '¿Desea rechazar esta liquidación?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'GET',

                        url: '@Url.Page("Observar", "Rechazar")',
                        dataType: 'text',
                        data: { idB: $("#idCierre").text(), comentario: $("#Comentario").val() },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (json) {

                            $("#divProcesando").hide();

                            if ($('.modal-backdrop').is(':visible')) {

                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').hide();
                            }
                            console.log("resultado " + json);
                            if (json == "true") {
                                Swal.fire({
                                    title: "Ha sido rechazado con éxito",

                                    icon: 'success',
                                    showCancelButton: false,

                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'swalBtnColor',

                                    },
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = window.location.href.split("/Observar")[0];
                                    }
                                })

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Ha ocurrido un error al intentar aceptar'

                                })
                            }
                        },

                        beforeSend: function (xhr) {

                            $("#divProcesando").modal("show");
                        },
                        complete: function () {

                        },
                        error: function (error) {

                        }
                    });
                }
            })

        }


        ///Enviar Correo

        function EnviarCorreo() {

            var html = '<html><head> <meta charset="utf-8" /> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">';
            html += '<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">';
            html += '</scrip' + 't>';
            html += '</head> ';
            html += '<body>'
            html += ' <div class="row"> <div class="col-sm-12" style="text-align: center;"> <h2> Liquidación por revisar </h2> </div> </div>';
            html += '<div class="row"> <div class="col-sm-12"> <br> </div> </div>';
            html += $("#idHtml2").html();

           html += "</body></html>"

            var recibido =
            {
                idCierre: $("#idCierre").text(),
                emailDest: $("#emailEnvio").val(),
                emailCC: $("#emailCCEnvio").val(),
                body: html
            }

            Swal.fire({
                title: '¿Desea enviar por correo esta liquidación?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log(html);
                    var recibidos = JSON.stringify(recibido);
                    $.ajax({
                        type: 'POST',

                        url: '@Url.Page("Observar", "EnviarCorreo")',
                        dataType: 'json',
                        data: { recibido: recibidos.toString()  },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (json) {

                            $("#divProcesando").hide();

                            if ($('.modal-backdrop').is(':visible')) {

                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').hide();
                            }
                            console.log("resultado " + json);
                            if (json == true) {
                                Swal.fire({
                                    title: "Ha sido enviado con éxito",

                                    icon: 'success',
                                    showCancelButton: false,

                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'swalBtnColor',

                                    },
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = window.location.href.split("/Observar")[0];
                                    }
                                })

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Ha ocurrido un error al intentar enviar'

                                })
                            }
                        },

                        beforeSend: function (xhr) {

                            $("#divProcesando").modal("show");
                        },
                        complete: function () {

                        },
                        error: function (error) {

                        }
                    });
                }
            })

        }

        function ReportePDF() {

            var html = '<html> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">';
            html += '<body>'
            html += ' <div class="row"> <div class="col-sm-12" style="text-align: center;"> <h2> Liquidación por revisar </h2> </div> </div>';
            html += '<div class="row"> <div class="col-sm-12"> <br> </div> </div>';
            html += $("#idHtml2").html();

            html += "</body></html>"
            var item = html;

            var opt = {
                margin: [10, 5, 15, 5],
                pagebreak: { before: '.cuidado' },

                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { format: 'letter', orientation: 'portrait' }
            };



            html2pdf().set(opt)
                .from(item)
                .save("Liquidacion.pdf");
        }



    </script>

}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
    var MiRol = int.Parse(((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault());
    var RolAdmin = Model.Rols.Where(a => a.NombreRol.ToUpper().Contains("Administrador".ToUpper())).FirstOrDefault();

    var bandera = MiRol == RolAdmin.idRol;
}
<div id="idHtml">


    <div class="row" style="text-align: center;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="ibox ">

                <div class="ibox-content">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">ID.:</label>
                                </div>
                                <div class="col-sm-12">
                                    <label id="idCierre" style="line-height: 32px;">
                                        @Model.Liquidacion.EncCierre.idCierre
                                    </label>

                                </div>
                            </div>







                        </div>

                        <div class="col-sm-3">


                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Periodo:</label>
                                </div>
                                <div class="col-sm-12" style="text-align: center;">
                                    <label id="PrecioVenta" style="line-height: 32px;">
                                        @Model.Liquidacion.EncCierre.Periodo
                                    </label>

                                </div>
                            </div>




                        </div>

                        <div class="col-sm-3">


                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Usuario:</label>
                                </div>
                                <div class="col-sm-12" style="text-align: center;">
                                    <label id="PrecioVenta" style="line-height: 32px;">
                                        @(Model.Usuarios.Where(a => a.id == Model.Liquidacion.EncCierre.idLogin).FirstOrDefault() == null? "": Model.Usuarios.Where(a => a.id == Model.Liquidacion.EncCierre.idLogin).FirstOrDefault().Nombre )
                                    </label>

                                </div>
                            </div>




                        </div>


                        <div class="col-sm-3">




                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Fecha:</label>
                                </div>
                                <div class="col-sm-12">
                                    <label id="PrecioVenta" style="line-height: 32px;">
                                        @Model.Liquidacion.EncCierre.FechaCierre.Value.ToString("dd/MM/yyyy")
                                    </label>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div class="col-sm-1"></div>

    </div>

    <div class="row" id="tableHtml">
        <div class="col-sm-12">
            <div class="ibox">

                <div class="ibox-content lista">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive tableFixHead" style="padding:inherit; overflow-y:scroll;    z-index: 5; height: 275px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th align="center" style=" text-align: center;"><h4>Cons. Hacienda</h4></th>

                                            <th align="center" style=" text-align: center;"><h4>Fecha</h4></th>
                                            <th align="center" style=" text-align: center;"><h4>Cod. Proveedor</h4></th>
                                            <th align="center" style=" text-align: center;"><h4>Proveedor</h4></th>
                                            <th align="center" style=" text-align: center;"><h4>Tipo de Gasto</h4></th>
                                            <th align="center" style=" text-align: center;"><h4>Comentario</h4></th>
                                            <th align="center" style=" text-align: center;"><h4>Total</h4></th>


                                        </tr>

                                    </thead>
                                    <tbody id="tbody">
                                        @foreach (var item in Model.Objeto)
                                        {
                                            <tr>

                                                <td align="center" style="padding-top:15px;">  <a style="font-size:13px;" href="@item.PdfFactura" target="_blank">@item.ConsecutivoHacienda </a></td>

                                                <td align="center" style="padding-top:15px;">  <p style="font-size:13px;">@item.FecFactura.Value.ToString("dd/MM/yyyy") </p></td>
                                                <td align="left" style="padding-top:15px;">
                                                    @if (Model.Pais == "P")
                                                    {
                                                    <p style="font-size:13px;">@item.CodProveedor.Split("[")[0]  [ @item.CodProveedor.Split("[")[1] ]   </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="font-size:13px;">@item.CodProveedor </p>
                                                    }


                                                </td>
                                                <td align="left" style="padding-top:15px;">
                                                    <p style="font-size:13px;">
                                                        @item.NomProveedor


                                                    </p>
                                                </td>
                                                <td align="left" style="padding-top:15px;"> <p style="font-size:13px;">@item.TipoGasto </p></td>
                                                <td align="left" style="padding-top:15px;"> <p style="font-size:13px;">@(item.Comentario == null ? "" : item.Comentario) </p></td>
                                                <td align="right" style="padding-top:13px;"> <p style="font-size:13px;">@decimal.Round(item.TotalComprobante.Value, 2).ToString("N", formato) </p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">

                                <div class="col-sm-12">
                                    <label class="col-form-label">Observación:</label>
                                </div>
                                <div class="col-sm-8">
                                    @if (Model.Liquidacion.EncCierre.Estado == "E")
                                    {
                                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "8").FirstOrDefault()))
                                        {
                                            @if (Model.Liquidacion.EncCierre.idLogin != int.Parse(((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Actor).Select(s1 => s1.Value).FirstOrDefault()) && !bandera)
                                            {
                                                <textarea rows="5" class="form-control" id="Comentario" asp-for="Liquidacion.EncCierre.Observacion"></textarea>
                                            }
                                            else
                                            {
                                                <textarea rows="5" class="form-control" id="Comentario" asp-for="Liquidacion.EncCierre.Observacion" readonly></textarea>
                                            }
                                        }
                                        else
                                        {
                                            <textarea rows="5" class="form-control" id="Comentario" asp-for="Liquidacion.EncCierre.Observacion" readonly></textarea>
                                        }
                                    }
                                    else
                                    {
                                        <textarea rows="5" class="form-control" id="Comentario" asp-for="Liquidacion.EncCierre.Observacion" readonly></textarea>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="text-align: right;">
                            <div class="row">

                                <div class="col-sm-12">

                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <label class="col-form-label" style="display: inline-table; font-weight: 500 !important; font-style: normal;">SubTotal:</label>

                                                </td>
                                                <td>
                                                    <label id="subtotal" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.SubTotal.Value, 2).ToString("N", formato)</label>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="text-align: center;">
                                                    <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Descuento:</label>

                                                </td>
                                                <td>
                                                    <label id="descuento" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Descuento.Value, 2).ToString("N", formato)</label>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td style="text-align: center;">
                                                    <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Impuesto:</label>

                                                </td>
                                                <td>
                                                    <label id="impuesto" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuestos.Value, 2).ToString("N", formato)</label>
                                                </td>
                                            </tr>

                                            @if (Model.Pais != "P")
                                            {



                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 1:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto1" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto1, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 2:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto2" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto2, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 4:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto4" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto4, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 8:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto8" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto8, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 13:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto13" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto13, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Otros Cargos:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto13" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.TotalOtrosCargos, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> ITBMS(7%):</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto1" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto1, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> ITBMS(10%):</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto2" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto2, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>

                                                <td style="text-align: center;">
                                                    <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Total:</label>

                                                </td>
                                                <td>
                                                    <label id="total" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Total.Value, 2).ToString("N", formato)</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>


                    </div>


                </div>
            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "8").FirstOrDefault()))
        {
            @if (Model.Liquidacion.EncCierre.Estado == "E")
            {
                @if (Model.Liquidacion.EncCierre.idLogin != int.Parse(((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Actor).Select(s1 => s1.Value).FirstOrDefault()) && !bandera)
                {
                    <div class="d-flex justify-content-end">

                        <button onclick="javascript: Aceptar();" class="btn btn-w-m btn-primary" id="btnAceptar" title="Aceptar">Aceptar</button> &nbsp;
                        <button onclick="javascript: Rechazar();" id="btnRechazar" class="btn btn-w-m btn-danger" title="Rechazar">Rechazar</button>
                    </div>
                }
            }
        }
    </div>
</div>
 

    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="col-form-label">Email:</label>
                        </div>
                        <div class="col-sm-12">
                            <input id="emailEnvio" class="form-control" type="email" placeholder="Email a enviar la liquidación" />

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="col-form-label">C.C:</label>
                        </div>
                        <div class="col-sm-12">
                            <input id="emailCCEnvio" class="form-control" type="email" placeholder="Copia del email" />

                        </div>
                    </div>

                    <div class="d-flex justify-content-end">

                        <button onclick="javascript: EnviarCorreo();" class="btn btn-w-m btn-primary" id="btnAceptar" title="Enviar Correo">Enviar</button>
                        &nbsp;
                        <button title="PDF" type="button" class="btn btn-danger" onclick="javascript: ReportePDF()">PDF</button>
                    </div>

                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
    </div>


<!--Reporte PDF-->
    <div id="idHtml2" hidden>


        <div class="row" style="text-align: center;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="ibox ">

                    <div class="ibox-content">
                    
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">ID.:</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <label id="idCierre" style="line-height: 32px;">
                                            @Model.Liquidacion.EncCierre.idCierre
                                        </label>

                                    </div>
                                </div>







                            </div>

                            <div class="col-sm-3">


                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Periodo:</label>
                                    </div>
                                    <div class="col-sm-12" style="text-align: center;">
                                        <label id="PrecioVenta" style="line-height: 32px;">
                                            @Model.Liquidacion.EncCierre.Periodo
                                        </label>

                                    </div>
                                </div>




                            </div>

                            <div class="col-sm-3">


                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Usuario:</label>
                                    </div>
                                    <div class="col-sm-12" style="text-align: center;">
                                        <label id="PrecioVenta" style="line-height: 32px;">
                                            @(Model.Usuarios.Where(a => a.id == Model.Liquidacion.EncCierre.idLogin).FirstOrDefault() == null? "": Model.Usuarios.Where(a => a.id == Model.Liquidacion.EncCierre.idLogin).FirstOrDefault().Nombre )
                                        </label>

                                    </div>
                                </div>




                            </div>


                            <div class="col-sm-3">




                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Fecha:</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <label id="PrecioVenta" style="line-height: 32px;">
                                            @DateTime.Now.ToString("dd/MM/yyyy")
                                        </label>

                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="col-sm-1"></div>

        </div>

        <div class="row" id="tableHtml">
            <div class="col-sm-12">
                <div class="ibox">

                    <div class="ibox-content lista">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive ">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th align="center" style=" text-align: center;"><p style="font-weight: bold; font-size: 14px;">Cons. Hacienda</p></th>

                                                <th align="center" style=" text-align: center;"><p style="font-weight: bold; font-size: 14px;">Fecha</p></th>
                                                <th align="center" style=" text-align: center;"><p style="font-weight: bold; font-size: 14px;">Proveedor</p></th>
                                                <th align="center" style=" text-align: center;"><p style="font-weight: bold; font-size: 14px;">Tipo de Gasto</p></th>
                                                <th align="center" style=" text-align: center;"><p style="font-weight: bold; font-size: 14px;">Comentario</p></th>
                                                <th align="center" style=" text-align: center;"><p style="font-weight: bold; font-size: 14px;">Total</p></th>


                                            </tr>

                                        </thead>
                                        <tbody id="tbody">
                                            @foreach (var item in Model.Objeto)
                                        {
                                            <tr>

                                                <td align="center" style="padding-top:15px;">  <p style="font-size:13px;"> @item.ConsecutivoHacienda  </p></td>

                                                <td align="center" style="padding-top:15px;">  <p style="font-size:13px;">@item.FecFactura.Value.ToString("dd/MM/yyyy") </p></td>
                                                <td align="left" style="padding-top:15px;">
                                                    <p style="font-size:13px;">
                                                        @item.NomProveedor


                                                    </p>
                                                </td>
                                                <td align="left" style="padding-top:15px;"> <p style="font-size:13px;">@item.TipoGasto </p></td>
                                                <td align="left" style="padding-top:15px;"> <p style="font-size:13px;">@(item.Comentario == null ? "" : item.Comentario) </p></td>
                                                <td align="right" style="padding-top:13px;"> <p style="font-size:13px;">@decimal.Round(item.TotalComprobante.Value, 2).ToString("N", formato) </p></td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                        <div class="cuidado"></div>
                        <div class="html2pdf__page-break"></div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <label class="col-form-label">Observación:</label>
                                    </div>
                                    <div class="col-sm-8">

                                        <label style="font-size: 13px;">@Model.Liquidacion.EncCierre.Observacion</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="text-align: right;">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table; font-weight: 500 !important; font-style: normal;">SubTotal:</label>

                                                    </td>
                                                    <td>
                                                        <label id="subtotal" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.SubTotal.Value, 2).ToString("N", formato)</label>
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Descuento:</label>

                                                    </td>
                                                    <td>
                                                        <label id="descuento" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Descuento.Value, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Impuesto:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuestos.Value, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 1:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto1" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto1, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 2:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto2" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto2, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 4:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto4" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto4, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 8:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto8" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto8, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 13:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto13" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Impuesto13, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Otros Cargos:</label>

                                                    </td>
                                                    <td>
                                                        <label id="impuesto13" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.TotalOtrosCargos, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="text-align: center;">
                                                        <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Total:</label>

                                                    </td>
                                                    <td>
                                                        <label id="total" style="display: inline-table;  font-weight: bold !important; font-style: normal;">@decimal.Round(@Model.Liquidacion.EncCierre.Total.Value, 2).ToString("N", formato)</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>


                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
















