@page
@model InversionGloblalWeb.Pages.SeguridadRolesModulos.IndexModel
@{
    ViewData["Title"] = "Roles";
}
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@inject IHttpContextAccessor httpContextAccessor
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}

@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section breadcrumb{
    <li class="breadcrumb-item active">
        <strong>Resumen</strong>
    </li>
}

@section TitleAction{
    <a asp-page="Nuevo" class="btn btn-primary" title="Agregar"><i class="fa fa-plus"></i> Agregar Rol</a>
}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {


            $('.dataTables-example').DataTable({
                pageLength: 10,
                responsive: true,


            });

        });
        var ids = 0;
    function onClickModal(id) {
        ids = id;
        Swal.fire({
            title: '¿Desea eliminar este rol?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Aceptar`,
            denyButtonText: `Cancelar`,
            customClass: {
                confirmButton: 'swalBtnColor',
                denyButton: 'swalDeny'
            },
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                Eliminar();

            }
        })

    }
        function  Eliminar() {

         $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Index", "Eliminar")',
                        data: { id: ids },
             success: function (result) {
                  
                             if (result == false) {
                                 ids = 0;
                                 Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar eliminar'

                                 })

                             } else {
                                 Swal.fire({
                                     title: "Ha sido eliminado con éxito",

                                     icon: 'success',
                                     showCancelButton: false,
                                     customClass: {
                                         confirmButton: 'swalBtnColor',

                                     },
                                     confirmButtonText: 'OK'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         location.reload();
                                     }
                                 })
                             }
             },
             beforeSend: function () {
                 
             }
                     })
        }
         
    </script>
}
<style>
    h3 {
        font-weight: bold;
    }
</style>
<div class="ibox ">


    <div class="ibox-content lista">
        <br />
        <div class="row">
            <div class="col-md-3">


                <h2>Roles</h2>
            </div>
            <div class="col-md-6">
                <div class="m-b-lg">
                    <form method="get">
                        <div class="form-row">
                            <div class="input-group input-group-sm  col-md-12">
                                <input asp-for="filtro.Texto" class="form-control" placeholder="Buscar Roles">
                                <span class="input-group-append">
                                    <button title="Buscar" type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>


                    <div class="">



                        <p style="font-size:14px;">Se encontraron @Model.Roles.Length registros de roles.</p>



                    </div>

                </div>


            </div>
        </div>
        <div class="table-responsive" style="padding:inherit;">
            <table class="table table-striped dataTables-example" style="width: 100%;">
                <thead>
                    <tr>

                        <td align="center" style="width: 25%;"><h3>Código</h3></td>
                        <td align="center" style="width: 50%;"><h3>Nombre de Rol</h3></td>


                        <td align="center"><h3>Acción</h3></td>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model.Roles)
                    {
                        <tr>

                            <td align="center" style="padding-top:15px;">
                                <p style="font-size:15px;"> @item.idRol</p>
                            </td>

                            <td align="left" style="padding-top:15px; width: 180px;"><p style="font-size:15px;">  @item.NombreRol </p></td>

                            <td align="center" style="padding-top:15px;">
                                <a asp-page="./Editar" asp-route-id="@item.idRol" class="fa fa-edit icono"> </a> &nbsp;
                                <a onclick="javascript: onClickModal('@item.idRol')" class="fa fa-trash icono"></a>&nbsp;
                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "6").FirstOrDefault()))
                                {
                                    <a asp-page="./RolesModulos" asp-route-id="@item.idRol" title="Asignar módulos" class="fa fa-exchange icono" style="color: #FFB700;"> </a>
                                }
                            </td>

                        </tr>

                    }
                </tbody>
            </table>

        </div>
        <a asp-page="Nuevo" style="color: #57b846;" title="Agregar"><i class="fa fa-plus"></i> Agregar Rol</a>
    </div>
</div>