@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}

<style>
    .colorBlue {
        background-color: #57b846;
    }
</style>
<nav class="navbar-default navbar-static-side" role="navigation" style="background-color: #57b846">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header colorBlue" style="background-color: #57b846">
                <div class="dropdown profile-element ">
                    <img alt="image" class="rounded-circle m-l-xl" style="max-width: 100%; margin-left: 0px;" src="@(((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Logo").Select(s1 => s1.Value).FirstOrDefault())">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        @if (User.Identity.Name.Length > 25)
                        {
                        <span class="block m-t-xs font-bold" style="color: #fff; margin-left: -16px;">@User.Identity.Name <b class="caret"></b></span>
                        }
                        else
                        {

                        <span class="block m-t-xs font-bold" style="color: #fff">@User.Identity.Name <b class="caret"></b></span>
                        }


                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" x-placement="bottom-start" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">

                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "6").FirstOrDefault()))
                        {
                        <li><a class="dropdown-item" asp-page="/SeguridadRolesModulos/Index">Roles</a></li>
                        }
                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "7").FirstOrDefault()))
                        {
                        <li><a class="dropdown-item" asp-page="/Usuarios/Index">Usuarios</a></li>
                        }

                    </ul>

                </div>
                <div class="logo-element">
                    <div class="row">
                        <img alt="image" class="m-l-xl" style="max-width: 66%; margin-left: 13px;" src="@(((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Logo").Select(s1 => s1.Value).FirstOrDefault())">
                    </div>
                </div>
            </li>

            @if (!string.IsNullOrEmpty(Roles.Where(a => a == "11").FirstOrDefault()) || !string.IsNullOrEmpty(Roles.Where(a => a == "1").FirstOrDefault()) ||
!string.IsNullOrEmpty(Roles.Where(a => a == "2").FirstOrDefault()) || !string.IsNullOrEmpty(Roles.Where(a => a == "3").FirstOrDefault()))
            {


            <li class="active" style="background-color: #57b846;">
                <a href="#" style="color: #fff"><i class="fa fa-th-large"></i> <span class="nav-label"> Administrar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in" aria-expanded="true">

                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "6").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("SeguridadRolesModulos".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/SeguridadRolesModulos/Index" class="NAVA"> <img class="imgNav" src="/img/Roles.png"> &nbsp; Roles</a>

                        </li>
                            }
                    }

                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "7").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Usuarios".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/Usuarios/Index" class="NAVA"> <img class="imgNav" src="/img/Usuarios.png"> &nbsp; Usuarios</a>

                        </li>
                            }
                    }


                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "11").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Dimensiones".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/Dimensiones/Index" class="NAVA"> <img class="imgNav" src="/img/Dimensiones.png"> &nbsp; Dimensiones</a>

                        </li>
                            }
                    }
                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "1").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("NormasReparto".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/NormasReparto/Index" class="NAVA"> <img class="imgNav" src="/img/Normas de Reparto.png"> &nbsp; Normas Reparto</a>

                        </li>
                            }
                    }


                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "2").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("CuentasContables".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/CuentasContables/Index" class="NAVA"> <img class="imgNav" src="/img/Cuentas Contables.png"> &nbsp; Cuentas Contables</a>

                        </li>
                            }
                    }

                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "3").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Gastos".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/Gastos/Index" class="NAVA"> <img class="imgNav" src="/img/Compras o Gastos.png"> &nbsp; Tipos Gastos</a>
                        </li>
                            }
                    }

                </ul>
            </li>

            }
            @if (!string.IsNullOrEmpty(Roles.Where(a => a == "4").FirstOrDefault()) || !string.IsNullOrEmpty(Roles.Where(a => a == "5").FirstOrDefault()) ||
          !string.IsNullOrEmpty(Roles.Where(a => a == "9").FirstOrDefault()))
            {

            <li class="active" style="background-color: #57b846;">
                <a href="#" style="color: #fff"><i class="fa fa-dollar"></i> <span class="nav-label"> Compras</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="true">

                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "4").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Liquidaciones".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/Liquidaciones/Index" class="NAVA"> <img class="imgNav" src="/img/Liquidaciones.png"> &nbsp; Liquidaciones</a>
                        </li>
                            }
                    }

                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "5").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Compras".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/Compras/Index" class="NAVA"> <img class="imgNav" src="/img/Compras o Gastos.png"> &nbsp; Compras</a>

                        </li>
                            }
                    }

                    @{if (!string.IsNullOrEmpty(Roles.Where(a => a == "9").FirstOrDefault()))
                            {
                        <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Compras/Nuevo".ToLower()) ? "active" : null) navBar">

                            <a asp-page="/Compras/Nuevo" class="NAVA"> <img class="imgNav" src="/img/Incluir Factura.png"> &nbsp; Factura Nueva</a>
                        </li>
                            }
                    }


                </ul>
            </li>

            }



        </ul>

    </div>
</nav>