@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
 
<style>
    .colorBlue {
        background-color: #57b846;
    }
</style>
<nav class="navbar-default navbar-static-side" role="navigation" style="background-color: #57b846">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header colorBlue" style="background-color: #57b846">
                <div class="dropdown profile-element ">
                    <img alt="image" class="rounded-circle m-l-xl" src="~/img/profile_small.png">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold" style="color: #fff">@User.Identity.Name</span>


                    </a>


                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li class="active" style="background-color: #57b846;">
                <a href="#" style="color: #fff">@*<img src="~/img/icoSitio.jpg" />*@ <span class="nav-label"> Administrar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    @{if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault() == "1")
                        {
                            <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("NormasReparto".ToLower()) ? "active" : null) navBar">
                                <a asp-page="/NormasReparto/Index"><span class="nav-label" id="InicioButton" style="color: #fff">Normas Reparto</span><span class="fa arrow"></span></a>

                            </li>
                        }
                    }


                    @{if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault() == "1")
                        {
                            <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("CuentasContables".ToLower()) ? "active" : null) navBar">
                                <a asp-page="/CuentasContables/Index"><span class="nav-label" id="InicioButton" style="color: #fff">Cuentas Contables</span><span class="fa arrow"></span></a>

                            </li>
                        }
                    }

                    @{if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault() == "1")
                        {
                            <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Gastos".ToLower()) ? "active" : null) navBar">
                                <a asp-page="/Gastos/Index"><span class="nav-label" id="InicioButton" style="color: #fff">Tipos Gastos</span><span class="fa arrow"></span></a>

                            </li>
                        }
                    }

                </ul>
            </li>


            <li class="active" style="background-color: #57b846;">
                <a href="#" style="color: #fff">@*<img src="~/img/icoSitio.jpg" />*@ <span class="nav-label"> Compras</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">

                    @{if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault() == "1")
                        {
                            <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Liquidaciones".ToLower()) ? "active" : null) navBar">
                                <a asp-page="/Liquidaciones/Index"><span class="nav-label" id="InicioButton" style="color: #fff">Liquidacion</span><span class="fa arrow"></span></a>

                            </li>
                        }
                    }

                    @{if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault() == "1")
                        {
                            <li class="@(httpContextAccessor.HttpContext.Request.RouteValues["Page"].ToString().ToLower().Contains("Compras".ToLower()) ? "active" : null) navBar">
                                <a asp-page="/Compras/Index"><span class="nav-label" id="InicioButton" style="color: #fff">Compras</span><span class="fa arrow"></span></a>

                            </li>
                        }
                    }




                </ul>
            </li>




        </ul>

    </div>
</nav>